{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="{% static 'img/dept.png' %}">

    <title>
        Bosea -
        {% block title %}

        {% endblock %}
    </title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" type="text/css"/>

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">


    {% block custom_static_files %}

    {% endblock %}


</head>
<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="{% url "index" %}">
            <img src="{% static 'img/debt_36.png' %}" alt="">
        </a>
        <a class="navbar-brand js-scroll-trigger" href="{% url "index" %}">Bosea</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{% url "index" %}#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{% url "index" %}#projects">Analytics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{% url "index" %}#signup">Loan Eligibility</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url "signout" %}">Log Out</a>
                    </li>
                {% else %}
                    {% if request.path == '/signin' %}
                        <li class=" nav-item">
                            <a class="nav-link js-scroll-trigger" href="{% url "signup" %}">Register</a>
                        </li>
                    {% elif request.path == '/signup' %}
                        <li class=" nav-item">
                            <a class="nav-link js-scroll-trigger" href="{% url "signin" %}">Login</a>
                        </li>
                    {% elif request.path != '/signup' or request.path != '/signup' %}
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="{% url "signin" %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="{% url "signup" %}">Sign Up</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>


{% block content %}

{% endblock %}




<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for this template -->
<script src="{% static 'js/grayscale.js' %}"></script>
<script>
    $(document).ready(function () {
        $("#passwordHelp").hide();

        $(".toast").toast('show');
    });

    function focusFunction() {
        $("#passwordHelp").show();
    }

    function blurFunction() {
        $("#passwordHelp").hide();
    }

    function myFunction() {
        const x = document.getElementById("id_password1");
        const y = document.getElementById("id_password2");

        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }

        if (y.type === "password") {
            y.type = "text";
        } else {
            y.type = "password";
        }
    }

    function showPassword() {
        var z = document.getElementById("inputPassword");
        if (z.type === "password") {
            z.type = "text";
        } else {
            z.type = "password";
        }
    }

</script>

</body>
</html>