{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="{% static 'img/dept.png' %}">

    <title>Bosea - Eligibility Results</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" type="text/css"/>

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/eligibility.css' %}" type="text/css"/>


</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{% url "index" %}">Bosea</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#projects">Analytics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{% url "check_eligibility" %}">Loan Eligibility</a>
                </li>
                <li class="nav-item">
                    {% if user.is_authenticated %}
                        <a class="nav-link js-scroll-trigger" href="{% url "signup" %}">Log Out</a>
                    {% else %}
                        <a class="nav-link js-scroll-trigger" href="{% url "signin" %}">Login</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if user.is_authenticated %}
                        <a class="nav-link js-scroll-trigger" href="{% url "signup" %}">Log Out</a>
                    {% else %}
                        <a class="nav-link js-scroll-trigger" href="{% url "signup" %}">Register</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>

<section class="pricing py-10">
    <div class="container align-items-center">
        <div class="row">
            <div class="col-lg-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-price text-center text-muted">Result</h6>
                        <h5 class="card-title  text-uppercase text-center">{{ eligibility }}</h5>
                        <hr>
                        <h5 class="card-title text-center text-muted">Features </h5>
                        <br>
                        <ul class="fa-ul">
                            {% for feature_name, value in features.items %}
                                <li><span class="fa-li"><i
                                        class="fas fa-check"></i></span><strong>{{ feature_name }}:{{ " " }}{{ value }}</strong>
                                </li>
                            {% endfor %}
                        </ul>
                        <a href="{% url "index" %}" class="btn btn-block btn-primary text-uppercase">Done</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Contact Section -->
<section class="contact-section bg-black">
    <div class="container">
</section>
<!-- Footer -->
<footer class="bg-black small text-center text-white-50">
    <div class="container">
        Copyright &copy; Bosea.Inc 2019
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for this template -->
<script src="{% static 'js/grayscale.js' %}"></script>


</body>

</html>
